black==22.12.0
click==8.1.3
Flask==2.2.2
future==0.18.2
ifaddr==0.2.0
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
mccabe==0.7.0
mypy==0.991
mypy-extensions==0.4.3
pathspec==0.10.3
platformdirs==2.6.2
pycodestyle==2.10.0
pydocstyle==6.1.1
pyflakes==3.0.1
pylama==8.4.1
snowballstemmer==2.2.0
tinydb==4.7.0
tomli==2.0.1
typed-ast==1.5.4
typing_extensions==4.4.0
Werkzeug==2.2.2
yeelight==0.7.10
zipp==3.15.0
