<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form id="sofaLampForm">
        <button type="button" onclick="sendRequest({{bulb_states.get('sofa_lamp')}})">sofa lamp</button>
    </form>

    <script>
        function sendRequest(bulbState) {
            fetch('/toggle_single_bulb', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ ip: bulbState.ip, is_on: bulbState.is_on }),
            })
            .then(response => response.json())
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
