<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {%for t in possible_tags%}
        <form id="{{ t }}Form">
            <button type="button" onclick="sendRequest('{{ t }}')">{{ t }}</button>
        </form>
    {%endfor%}

    <script>
        function sendRequest(tag) {
            fetch('/turn_on', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ tag: tag }),
            })
            .then(response => response.json())
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>

</body>
</html>
