<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... -->
</head>
<body>
    <form id="sofaLampForm">
        <button type="button" onclick="sendRequest('{{ bulb_states.get('sofa_lamp').ip }}')">sofa lamp</button>
    </form>
    <form id="tableLampForm">
        <button type="button" onclick="sendRequest('{{ bulb_states.get('table_lamp').ip }}')">table lamp</button>
    </form>
    <form id="salonMainLampForm">
        <button type="button" onclick="sendRequest('{{ bulb_states.get('salon_main_lamp').ip }}')">salon lamp</button>
    </form>

    <script>
        function sendRequest(ip) {
            fetch('/toggle_single', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ ip: ip }),
            })
            .then(response => response.json())
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
